

/* CSS初始化 */
body,h1,h2,h3,h4,h5,h6,ul,ol,dl,dt,dd,li,p {
	 margin: 0;
	 padding: 0;
	 list-style: none;
	 font-size: 12px;
	 font-family: "宋体";
	 color: #000;
}
a {	
	color: #000;
	text-decoration: none;
}
input,img {
	 margin: 0;
	 padding: 0;
	 border: 0 none;
	 outline-style: none;
	 vertical-align: bottom;
}
/*清除浮动*/
.clearfix:after {
	 content: "";
	 height: 0;
	 line-height: 0;
	 display: block;
	 clear: both;       
	 visibility: hidden;
}
.clearfix {
	 zoom: 1;
}
/* 版心 */
.banxin {
	 width: 1200px;
	 margin: 0 auto;

}


