/*导航*/
.indexNav {
	display: none;
}
.indexNav .layui-nav * {
	font-size: 1.4rem;
	text-shadow: 3px 3px 3px red;
}
.layui-nav-child {
	    background-color: #393D49;
}
.layui-nav .layui-nav-child a {
	color: #fff;
}
/*主体*/

.indexMain {}


/*底部*/

.indexFloor {}


/*首页导航栏动画显示开始*/
.indexNavActive{ position: relative;z-index: 999; display:block;top: -200px;opacity: 0; animation: indexNavActive 5s 1s 1 normal forwards;}
/*首页导航栏动画显示结束*/
