.box {
	/*height: 2000px;*/
	width: 1200px;
	margin: 0 auto;
}
.box-l {
	height: 300px;
	width: 200px;
	float: left;

}
.box-r {
	height: 900px;
	
	width: 900px;
	float: right;
}
.huoqushijianchajian {
	display: none;
}
.huoqutianqichajian {
	display: none;
}
.xianshi {
	
}
